<%= form_for(@datebodydatum) do |f| %>
  <% if @datebodydatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datebodydatum.errors.count, "error") %> prohibited this datebodydatum from being saved:</h2>

      <ul>
      <% @datebodydatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"日付" %><br>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :"体重" %><br>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :"脈拍" %><br>
    <%= f.text_field :pulse %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
