<h1>Listing datebodydata</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>体重</th>
      <th>脈拍</th>
      <th>体温</th>
      <th>最低血圧</th>
      <th>最高血圧</th>
    </tr>
  </thead>

  <tbody>
    <% @datebodydata.each do |datebodydatum| %>
      <tr>
        <td><%= datebodydatum.date.try(:strftime, "%Y-%m-%d") %></td>
        <td><%= number_with_precision(datebodydatum.weight, precision: 1) %></td>
        <td><%= number_with_precision(datebodydatum.pulse, precision: 0) %></td>
        <td><%= number_with_precision(datebodydatum.bodytemperature, precision: 1) %></td>
        <td><%= number_with_precision(datebodydatum.bloodpressure, precision: 0) %></td>
        <td><%= number_with_precision(datebodydatum.highbloodpressure, precision: 0) %></td>
        <td><%= link_to 'Show', datebodydatum_path(datebodydatum, :date_search => params[:date_search]) %></td>
        <td><%= link_to 'Edit', edit_datebodydatum_path(datebodydatum, :date_search => params[:date_search]) %></td>
        <td><%= link_to 'Destroy', datebodydatum_path(datebodydatum, :date_search => params[:date_search]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Datebodydatum', new_datebodydatum_path(:date_search => params[:date_search]) %>
<%= link_to 'root', root_path %>
<%= high_chart("chart-1", @graph_data) %>
