<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @datebodydatum.date.try(:strftime, "%Y-%m-%d %H:%M:%S") %>
</p>

<p>
  <strong>体重:</strong>
  <%= number_with_precision(@datebodydatum.weight, precision: 1) %>
</p>

<%= link_to 'Edit', edit_datebodydatum_path(@datebodydatum) %> |
<%= link_to 'Back', datebodydata_path %>
