<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @datebodydatum.date.try(:strftime, "%Y-%m-%d") %>
</p>

<p>
  <strong>体重:</strong>
  <%= number_with_precision(@datebodydatum.weight, precision: 1) %>
</p>

<p>
  <strong>脈拍:</strong>
  <%= number_with_precision(@datebodydatum.pulse, precision: 0) %>
</p>

<p>
  <strong>体温:</strong>
  <%= number_with_precision(@datebodydatum.bodytemperature, precision: 1) %>
</p>

<p>
  <strong>最低血圧:</strong>
  <%= number_with_precision(@datebodydatum.bloodpressure, precision: 0) %>
</p>

<p>
  <strong>最高血圧:</strong>
  <%= number_with_precision(@datebodydatum.highbloodpressure, precision: 0) %>
</p>

<%= link_to 'Edit', edit_datebodydatum_path(@datebodydatum, :date_search => params[:date_search]) %> |
<%= link_to 'Back', datebodydata_path(:date_search => params[:date_search]) %>
